@using Project.Web.Models;
@model CardsModel
@{
    ViewBag.Title = "ViewCard";
}




<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <img src="@Url.Content("~/Content/img/" + Model.ImageName)" alt="troll pic" class="img-responsive" />
            <div class="carousel-caption">
                <h2> @Model.Message</h2>
            </div>
        </div>
    </div>


    
        <div class="row">
            <div class="col-xs-6">
                <form action="@Url.Action("EditCard", "ECard", new { id = Model.TemplateId })" method="get">
                    <button>Edit Card</button>
                </form>

                <form action="@Url.Action("Index", "Home")" method="post">
                    <button>Choose New Troll</button>
                </form>

                <form action="@Url.Action("SaveCard", "ECard", new { id = Model.TemplateId })" method="post">
                    <button>Send!</button>
                </form>
            </div>
        </div>

</div>


